.modal-dialog {
  .modal-content {
    .modal-body {
      .alert-success {
        color: #d1e7dd;
        background-color: transparent;
        border-color: #badbcc;
        text-align: center;
      }
      .item-info-cnt {
        .input-group-number-field {
          border: 1px solid #ced4da;
          border-radius: 0.25rem;
          .input-group-text {
            opacity: 0.65;
            font-size: 14px;
            width: 50%;
            border: none;
          }
          .number-field {
            width: 50%;
            margin-top: 3px;
            padding: 10px;
          }
          &.is-valid {
            padding-right: 4.125rem;
            background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 8 8%27%3e%3cpath fill=%27%23198754%27 d=%27M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z%27/%3e%3c/svg%3e");
            background-position: right 0.75rem center, center right 2.25rem;
            background-size: 29px 21px,
              calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
            border-color: #198754;
            background-repeat: no-repeat;
          }
        }
      }
      .crafting-mats-cnt {
        .alert-danger {
          color: #f8d7da;
          background-color: transparent;
          border-color: #842029;
          text-align: center;
        }
        .number-field-grid {
          .card {
            .card-header {
              padding: 0;
              .mat-fld {
                width: 83%;
              }
              .btn {
                width: 15%;
              }
            }
            .card-body {
              &.is-valid {
                padding-right: 4.125rem;
                background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 8 8%27%3e%3cpath fill=%27%23198754%27 d=%27M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z%27/%3e%3c/svg%3e");
                background-position: right 0.75rem center, center right 2.25rem;
                background-size: 29px 21px,
                  calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
                border: 1px solid#198754;
                border-radius: 0.25rem;
                background-repeat: no-repeat;
              }
              &.is-invalid {
                border: 1px solid#dc3545;
                border-radius: 0.25rem;
                padding-right: calc(1.5em + 0.75rem);
                background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 12 12%27 width=%2712%27 height=%2712%27 fill=%27none%27 stroke=%27%23dc3545%27%3e%3ccircle cx=%276%27 cy=%276%27 r=%274.5%27/%3e%3cpath stroke-linejoin=%27round%27 d=%27M5.8 3.6h.4L6 6.5z%27/%3e%3ccircle cx=%276%27 cy=%278.2%27 r=%27.6%27 fill=%27%23dc3545%27 stroke=%27none%27/%3e%3c/svg%3e");
                background-repeat: no-repeat;
                background-position: right calc(0.375em + 0.1875rem) center;
                background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
              }
            }
          }
        }
      }
    }
  }
}
