.crafting-cost-popover {
  min-width: 35em !important;
  .popover-header {
    text-align: center;
    color: $container-font-color;
    border-bottom: 1px solid $container-bg;
    background: rgb(3, 13, 36);
  }
  .popover-body {
    background: rgb(3, 13, 36);
    table {
      text-align: center;
      background: $container-bg;
      color: $container-font-color;
      .goldIcon {
        margin-bottom: -3px;
        margin-left: 2px;
      }
    }
  }
}
