.number-field {
  .btn {
    background: rgb(13, 31, 66);
    border-color: rgba(8, 15, 28, 0.42);
    font-size: 24px;
    width: 33%;
    font-weight: 900;
    &.plus {
      float: right;
    }
    &.minus {
      float: left;
    }
    &:focus {
      box-shadow: none;
    }
  }
  .field {
    width: 34%;
    text-align: center;
    background: rgb(13, 31, 66);
    color: #fff;
    display: inline-block;
    padding: 10px 0px;
    cursor: w-resize;
    &:focus-visible {
      outline: none;
    }
    .goldIcon {
      margin-bottom: -4px;
      margin-left: 2px;
      width: 17px;
      height: 15px;
    }
  }
}
