.btn-latoolsDarkBlue {
  @include button-variant(
    $container-bg,
    $container-bg-faded,
    $container-font-color
  );
}
.btn-latoolsBlue {
  @include button-variant(
    rgb(13, 52, 129),
    $container-bg,
    $container-font-color
  );
}
.btn-latoolsGrey {
  @include button-variant(
    rgb(58, 77, 116),
    $container-bg,
    $container-font-color
  );
}

.btn-latoolsRed {
  @include button-variant(
    rgba(131, 50, 50, 0.44),
    rgb(139, 60, 60),
    $container-font-color
  );
}
