$container-bg: rgb(13, 31, 66);
$container-bg-faded: rgba(13, 32, 68, 0.52);
$container-font-color: #fff;
$card-bg: $container-bg;
$card-color: $container-font-color;
$modal-content-bg: $container-bg;
$input-group-addon-bg: $container-bg;
$input-group-addon-color: $container-font-color;
$input-bg: $container-bg;
$input-color: $container-font-color;
