.number-field-grid {
    .card-body {
      text-align: left;
      padding: 0;
    }
    .row {
      padding-top: 10px;
      &:last-child {
        .col {
          margin: 0;
        }
      }
      .col {
        margin: 0 auto;
        &.new-btn {
          .btn {
            width: 100%;
            height: 100%;
            font-size: 59px;
          }
        }
      }
    }
  }
  