@include table-variant("latoolsBlue", $container-bg);
body {
  margin: 0;
  font-family: "Roboto Serif", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../../image/bg.jpg");
  background-size: cover;
  color: $container-font-color;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px $container-bg inset !important;
}
input:-webkit-autofill{
  -webkit-text-fill-color: $container-font-color !important;
}
.App {
  text-align: center;
  .header {
    background-color: $container-bg;
    border-bottom: 1px solid #464646;
  }

  .body {
    padding-top: 30px;

    .page-title {
      background: $container-bg;
      width: 27%;
      border-radius: 5px;
      h1 {
        padding-top: 12px;
      }
    }
    .action-buttons {
      margin-top: 50px;
      margin-bottom: 10px;
      .btn {
        margin-right: 5px;
      }
    }
    .tool-link {
      text-decoration: none;
    }
  }
}
.setup-msg {
  float: right;
  width: 89%;
  padding-top: 9px;
}
.setup-alert {
  cursor: pointer;
}
