.prices-cont {
  .nav {
    .nav-item {
      .nav-link {
        background-color: $container-bg-faded;
        color: $container-font-color !important;
        &.active {
          background-color: $container-bg;
        }
      }
    }
  }
  .tab-content {
    .number-field-grid {
      .row {
        .col {
          &.new-btn {
            .btn {
              height: 91%;
            }
          }
        }
      }
    }
  }
}
